<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="/../style.css">
</head>

<body>
  <h1><a href="/food">점심 메뉴 정하기</a></h1>

  <div class="grid">
    <ul>
      <il><a href="/food/search">검색</a></il><br>
      <il><a href="/food/recommendation">추천</a></il>
    </ul>


    <article class="">
      <h2>
        <%= title %>
      </h2>
        <p><%= description %></p>
    </article>
  </div class="grid">

</body>

</html>
