<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Design Thinking project</title>

	<link rel="stylesheet" href="./assets/css/style.min.css">
	<link rel="stylesheet" href="./assets/css/modules.css">

<script>
	var user_name = "user1";
	var score = "8.5";
	var growth = "125";
</script>
</head>

<body>
	<header class="MOD_HEADER1">
		<div data-layout="_r">
			<div data-layout="al16 de10" class="MOD_HEADER1_Title_sign">
			<h1 class="MOD_HEADER1_TextLogo">My page</h1>
			</div>

			<section class="MOD_LIGHTBOXIMGX4BACKGROUND" data-theme="_bgp">
				<div data-layout="_r">
					<div data-layout="ch8 ec2">
						<img src="images\profimg.png" alt="">
					</div>

					<div data-layout="ec5 _r">
						<div data-layout="ec5">
							<script>
							document.writeln("username : "+user_name);
							</script>
						</div>

						<div data-layout="ec5">
							<p>my introduction asdfdddfdfddd
							dtproject</p>
						</div>
					</div>
				</div>
			</section>
			</div>
			<div data-layout="_r">
				<section class="MOD_LIGHTBOXIMGX4BACKGROUND" data-theme="_bgp">
					<div data-layout="_r">
						<div data-layout="al16 de10">
							<div data-layout="ch8">
								<script>
									document.writeln("score : "+score);
								</script>
							</div>

							<div data-layout="ch8">
								<script>
									document.writeln("growth : "+growth);
								</script>
						</div>
					</div>
				</div>
			</section>
		</div>

	</header>
</body>

</html>
